@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  text-decoration: none;
}
.postText {
  padding: 0.4rem 1rem;
  font-family: "Poppins", sans-serif;

  font-size: 16px;
  line-height: 1.5rem;
}

.postText a {
  color: hsl(214, 100%, 45%);
  text-decoration: underline;
}

.postText h1,
h2,
h3,
h4 {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.img {
  object-fit: cover;
  background-color: rgb(119, 119, 119);
  max-width: 100%;
  width: 100vw;
}

.imageWrapper {
  padding: 1rem;

  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
::selection {
  background-color: rgb(255, 217, 0);
}
.time {
  display: inline-block;
  padding: 1rem;
  padding-top: 0.2rem;
}
